<div class="d-flex flex-row bd-highlight md-3">
    <div class="p-2 w-50 bd-highlight">
        <div class="input-group mb-3">
            <span class="input-group-text">Department</span>
            <select class="form-select" [(ngModel)]="Department">
                <option>--Select--</option>
                <option *ngFor="let dep of EmployeesList">
                    {{dep.department}}
                </option>
            </select>
        </div> 
        <div class="input-group mb-3">
            <span class="input-group-text">Name</span>
            <input type="text" class="form-control" [ngModel]="EmployeeName">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Date of birth</span>
            <input type="date" class="form-control" [ngModel]="DateOfBirth">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Employment date</span>
            <input type="date" class="form-control [ngModel]=employmentDate">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Salary</span>
            <input type="number" class="form-control" [ngModel]="Salary">
        </div>
    </div>
</div>

<button type="button" (click)="addEmployee()" *ngIf="emp.EmployeeId=='0'" class="btn btn-primary">
    Create
</button>
  
<button type="button" (click)="updateEmployee()" *ngIf="emp.EmployeeId!='0'" class="btn btn-primary">
    Update
</button>